.weather-app {
  border: 2px solid gray;
  border-radius: 10px;
  display: block;
  margin: 50px auto;
  margin-bottom: 0;
  max-width: 50%;
}
.basic-info,
footer {
  text-align: center;
}

.search-form {
  margin: 10px;
}

.basic-info {
  margin: 50px;
}

.forther-info {
  margin-bottom: 50px;
}

.current-temperature {
  font-size: 100px;
}

.celsius-fahrenheit,
.highest-lowest {
  font-size: 30px;
  position: relative;
}

.celsius-fahrenheit {
  top: -46px;
}

.highest-lowest {
  left: -70px;
  top: -8px;
}
